@charset "UTF-8";

/* 全体レイアウト */
html {
  font-size: 100%;
}

body {
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 13px;
  font-style: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover{
  text-decoration: underline;
}

img {
  max-width: 100%;
  vertical-align: top;
}


/* header */

.header-wrapper{
  width: 100%;
  max-width: 1080px;
  height: 68px;
  margin: 0 auto;
}

header{
  width: 100%;
  height: 68px;
  background-color: #fff;
  border-top: 1px solid #919598;
  border-bottom: 1px solid #919598;
  position: fixed;
  z-index: 5;
}

.header-box{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header-title{
  letter-spacing: 0.2em;
}

.header-title a:hover{
  text-decoration: none;
}

.header-list{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-align: center;
}

.header-list li{
  height: 68px;
  float: left;
  margin: 0px 0px 0px 0px;
}

.login a{
  display: block;
  width: 68px;
  padding: 26px 0;
}

.search{
  width: 280px;
  padding: 19px 0px 19px 12px;
}

.search-btn{
  display: inline-block;
  width: 63px;
  font-size: 12px;
  background: #919598;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  margin-left: 5px;
}

.search-container input[type="text"] {
  height: 30px;
  width: 190px;
  border: 1px solid #919598;
  border-radius: 4px;
  background-image: url(../image/image2.png);
  background-position: right;
  padding: 0 20px 0 8px;
}

/* .search-container input[type="submit"] {
  height: 30px;
  width: 63px;
  font-size: 12px;
  background-color: #919598;
  border-radius: 4px;
  color: #ffffff;
} */

.cart{
  padding: 18px 7px 18px 40px;
}

/* mainvisual */
.main-wrapper{
  width: 1080px;
  height: auto;
  margin: 0 auto 20px auto;
}

.mainvisual{
  padding-top: 80px;
}

/* g-nav */
.g-nav ul{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
}

.g-nav-item{
  flex-basis: 20%;
  text-align: center;
}

.g-nav-link{
  display: block;
  padding: 35px 0;
  font-size: 18px;
  line-height: 30px;;
}

.g-nav-category:hover{
  font-size: 17px;
}

.category-menu{
  visibility: hidden;
  width: 100%;
  padding: 30px 70px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  position: absolute;
  top: 62px;
  left: 0;
  background-color: #fff;
  /* border: 1px solid #989898; */
  filter: drop-shadow(4px 4px 3px #989898);
  z-index: 5;
}

.g-nav-item:hover .category-menu{
  visibility: visible;
}

.category-box{
  width: 16.6%;
  text-align: left;
  margin-bottom: 20px;
  font-size: 12px;
}

.category-box ul{
  display: block;
  text-align: left;
}

.category-box ul li{
  padding: 5px 0;
}

.category-box p a{
  display: block;
  margin: 10px 0;
  font-weight: bold;
  line-height: 20px;
}


/* #subvisual */
.sub-wrapper{
  width: 1060px;
  margin: 0 auto;
  position: relative;
}

.subvisual img{
  width: 100%;
  height: auto;
}

.subvisual h2{
  position: absolute;
  bottom: 80px;
  right: 30px;
  color: #fff;
  font-size: 3rem;
  letter-spacing: 0.5rem;

}

/* #allitems */
#allitems{
  max-width: 1080px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0;
}

.item-box{
  width: 33.3%;
  padding: 0 30px;
  margin-bottom: 30px;
}

.item-mark ul{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 31px;
}

.item-mark li{
  display: block;
  width: 33.3%;
  text-align: center;
  font-size: 11px;
  height: 21px;
  margin: 0 6px 10px 0;
}

.new{
  background-color: #413022;
  border-radius: 4px;
  color: #fff;
  padding: 4px;
}

.restock{
  background-color: #989898;
  border-radius: 4px;
  color: #fff;
  padding: 4px;
}

.item-about {
  position: relative;
}

.item-about div{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  left: 0;
  top: 0;
}

.item-about div:hover{
  background-color: rgba(0, 0, 0, 0.5);
  opacity:1 ;
  transition: 0s;
}

.item-image{
  width: 100%;
  margin-bottom: 10px;
}

.item-name{
  margin: 0 0 10px;
  font-size: 16px;
  text-align: left;
}

.item-price{
  font-size: 12px;
  text-align: right;
}

.more-item{
  width: 1080px;
  text-align: center;
  margin-top: 20px;
}

.btn-more{
  height: 40px;
  width: 300px;
  display: inline-block;
  background-color: #D9D9D9;
  border-radius: 2px;
  line-height: 40px;
  font-size: 14px;
  position: relative;
}

.btn-more:after{
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0 10px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  position: absolute;
  top: 45%;
  right: 0;
  transform: rotate(45deg);
}


/* category */


.category{
  background-color: #F2F0ED;
  padding: 11px 20px;
  margin-bottom: 50px;
}

.category ul{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.category-title{
  margin-right: 20px;
}

.category-title h4{
  text-align: center;
  font-size: 16px;
}

.category-item{
  background-color: #fff;
  padding: 4px 10px;
  margin: 0 7px 0 0;
  border-radius: 4px;
}

.category-item a{
  font-size: 13px;
}

/* footer */
footer{
  max-width: 1080px;
  margin: 0 180px 71px 180px;
  border-top: 1px solid #A6A6A6;
  position: relative;
}

.footer-content{
  display: flex;
}

.footer-logo{
  width: 35%;
  padding-top: 20px;
}

.footer-logo a:hover{
  text-decoration: none;
}

.footer-nav ul{
  display: flex;
  flex-wrap: wrap;
}

.footer-nav-top{
  width: 744px;
  padding: 20px 0 0;
}

.footer-nav-top ul{
  height: 44px;
}

.footer-nav-top ul li a {
  padding-right: 24px;
  font-size: 12px;
  font-family: "Noto Sans CJK JP", sans-serif;
}

.footer-nav-bottom{
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
}


.footer-sns-nav ul li{
  height: 20px;
  padding-right: 40px;
}

.footer-sns-nav a{
  height: 20px;
  display: flex;
  align-items: center;
  font-size: 13px;
}

.footer-sns-nav a:hover{
  text-decoration: none;
}

.fa-instagram{
  font-size: 22px;
  margin-right: 14px;
}

.footer-copy span{
  display: inline-block;
  line-height: 20px;
}
