@charset "UTF-8";


/* ========================

全体レイアウト

==========================*/

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  font-style: normal;
  color: #333;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: underline;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.content{
  max-width: 1080px;
  margin: 0 auto;
}

.more-btn{
  width: 100%;
  margin: 40px auto 100px auto;
  text-align: center;
}

.more-btn a{
  display: inline-block;
  width: 300px;
  padding: 12px 30px;
  font-size: 14px;
  letter-spacing: .1em;
  color: inherit;
  background-color: #d9d9d9;
  border-radius: 2px;
  transition: all .6s;
  position: relative;
}

.more-btn a::after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0 10px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  position: absolute;
  top: 43%;
  right: 0;
  transform: rotate(45deg);
}

@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }

  body.fixed {
    height:100%;
    overflow:hidden;
  }

  .more-btn {
    margin: 40px auto;
  }

  .more-btn a {
    width: 85%;
    padding: 12px 0;
    border-radius: 6px;
  }
}

/* ========================

header

==========================*/

.hamburger-wrapper{
  display: none;
}

header{
  width: 100%;
  height: 68px;
  background-color: #fff;
  border-top: 1px solid #919598;
  border-bottom: 1px solid #919598;
  position: fixed;
  padding: 0 10px;
  z-index: 5
}

.header-box{
  max-width: 1080px;
  /* height: 68px; */
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header-title{
  letter-spacing: 0.1em;
}

.header-title a:hover{
  text-decoration: none;
}

.header-list{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-align: center;
}

.header-list li{
  height: 68px;
  float: left;
  margin: 0px;
}

.login a{
  display: block;
  width: 68px;
  padding: 26px 0;
}

.search{
  width: 280px;
  padding: 19px 0px 19px 12px;
}

.search-btn{
  display: inline-block;
  width: 63px;
  height: 30px;
  font-size: 12px;
  background: #919598;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  margin-left: 5px;
  padding-top: 1px;
}

.search-container input[type="text"] {
  height: 30px;
  width: 190px;
  border: 1px solid #919598;
  border-radius: 4px;
  background-image: url(../image/image2.png);
  background-position: 96% 50%;
  padding: 0 20px 0 8px;
}

/* .search-container input[type="submit"] {
  height: 30px;
  width: 63px;
  font-size: 12px;
  background-color: #919598;
  border-radius: 4px;
  color: #ffffff;
} */

.cart{
  padding: 14px 0 14px 30px;
}

.cart img{
  height: 40px;
  width: 40px;
}

@media screen and (max-width:768px){
  header{
    height: 65px;
    border: none;
    padding: 0;
  }

  .header-box{
    display: none;
  }

  .header-title{
    padding-top: 10px;
    padding-left: 15px;
  }

  .header-list-sp{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cart{
    padding: 15px 10px;
    height: 60px;
    width: 60px;
  }

  .cart img{
    height: 35px;
    width: 35px;
  }
}

/* ========================

mainvisual

==========================*/

.mainvisual{
  padding-top: 68px;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}

.mainvisual img{
  width: 100%;
  height: auto;
}

@media screen and (max-width:768px){
  .mainvisual{
    padding-top: 65px;
  }
}

/* ========================

navi

==========================*/
.g-nav{
  padding: 35px 0;
}

.g-nav ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.g-nav-item{
  flex-basis: 33.333%;
  text-align: center;
}

.g-nav-link{
  display: block;
  font-size: 18px;
  line-height: 46px;
  letter-spacing: 0.1em;
}

.n-category>a:hover{
  font-size: 17px;
}

.category-menu{
  visibility: hidden;
  width: 100%;
  padding: 30px 70px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  position: absolute;
  top: 120px;
  left: 0;
  background-color: #fff;
  filter: drop-shadow(4px 4px 3px #989898);
  z-index: 5;
}

.g-nav-item:hover .category-menu{
  visibility: visible;
}

.category-box{
  width: 16.6%;
  text-align: left;
  margin-bottom: 20px;
  font-size: 12px;
}

.category-box ul{
  display: block;
  text-align: left;
}

.category-box ul li{
  padding: 5px 0;
}

.category-box p a{
  display: block;
  margin: 10px 0;
  font-weight: bold;
  line-height: 20px;
}

@media screen and (max-width:768px){
  .g-nav{
    width: 90%;
    padding: 20px 0;
    margin: 0 auto;
  }

  .g-nav ul{
    flex-wrap: wrap;
    /* flex-direction: row; */
  }

  .g-nav-item{
    flex-basis: 50%;
  }

  .g-nav-link{
    padding: 0 0;
    font-size: 12px;
    line-height: 30px;
  }

  .n-category>a:hover{
    font-size: 12px;
  }

  .g-nav-item:hover .category-menu{
    visibility: hidden;
  }
}

/* ========================

subvisual

==========================*/
.subvisual{
  max-width: 1060px;
  margin: 0 auto;
  position: relative;
}

.subvisual img{
  width: 100%;
  height: auto;
}

.subvisual h2{
  position: absolute;
  bottom: 80px;
  right: 30px;
  color: #fff;
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

@media screen and (max-width:768px){
  .subvisual{
    margin: 0 10px;
  }

  .subvisual h2{
    bottom: 1.5rem;
    right: 1rem;
    font-size: 5vw;
    letter-spacing: 0.2rem;
  }
}

/* ========================

topics

==========================*/
#topics{
  width: 100vw;
  margin: 120px calc(50% - 50vw);
}

#topics .more-btn{
  margin-top: 80px;
}

.section-title{
  margin-bottom:40px;
  font-size: 26px;
  letter-spacing: .1em;
  text-align: center;
}

.topics-slider li{
  position: relative;
  padding: 0 5px;
}

.topics-slider li a:hover{
  opacity: .7;
  transition: opacity .3s;
}

.topics-text{
  position: absolute;
  bottom: 2%;
  width: 100%;
  font-size: 20px;
  color: #fff;
  letter-spacing: .1em;
  text-shadow: 0 0 3px #000;
  text-align: center;
}

.topics-slider .slick-arrow {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  z-index: 1;
}

.topics-slider .slick-prev::before,
.topics-slider .slick-next::before {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  width: 20px;
  height: 20px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}

.topics-slider .slick-prev::before {
  left: 40%;
  transform: rotate(-135deg);
}

.topics-slider .slick-next::before {
  right: 40%;
  transform: rotate(45deg);
}

.topics-slider .slick-prev {
  left: 7%;
}

.topics-slider .slick-next {
  right: 7%;
}

.topics-slider .slick-dots{
  bottom: -50px;
}

.topics-slider .slick-dots li{
  margin: 0 4px;
  width: 40px;
  height: 5px;
}

.topics-slider .slick-dots li button:before{
  content: "";
  width: 40px;
  height: 5px;
  background-color: rgba(0, 0, 0, .2);
  opacity: 1;
}

.topics-slider .slick-dots li.slick-active button:before {
  background-color: #000;
}

@media screen and (max-width: 768px) {
  #topics {
    width: 100%;
    margin: 60px auto;
  }

  #topics .more-btn {
    margin-top: 60px;
  }

  .section-title {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .topics-text {
    font-size: 18px;
  }

  .topics-slider .slick-arrow {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
  }

  .topics-slider .slick-prev::before,
  .topics-slider .slick-next::before {
    width: 12px;
    height: 12px;
  }

  .topics-slider .slick-dots {
    bottom: -30px;
  }
}


/* ========================

allitem

==========================*/
#allitems{
  max-width: 1080px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.item-box{
  width: 33.3%;
  padding: 0 30px;
  margin-bottom: 30px;
  opacity: 0;
}

.item-box.fadeIn{
  animation-name:fadeInAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
  opacity:0;
}

@keyframes fadeInAnime{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.item-mark ul{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 31px;
}

.item-mark li{
  display: block;
  width: 33.3%;
  text-align: center;
  font-size: 11px;
  height: 21px;
  margin: 0 6px 10px 0;
}

.new{
  background-color: #413022;
  border-radius: 4px;
  color: #fff;
  padding: 3px;
}

.restock{
  background-color: #989898;
  border-radius: 4px;
  color: #fff;
  padding: 3px;
}

.item-about {
  position: relative;
}

.item-about div{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  left: 0;
  top: 0;
}

.item-about div:hover{
  background-color: rgba(0, 0, 0, 0.3);
  opacity:1 ;
  transition: all .6s;
}

.item-image{
  width: 100%;
  margin-bottom: 10px;
}

.item-name{
  margin: 0 0 10px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.02em;
}

.item-price{
  font-size: 12px;
  text-align: right;
  letter-spacing: 0.02em;
}

@media screen and (max-width:768px){
  #allitems{
    margin: 0;
    padding: 20px 6px 0 6px;
  }

  .item-box{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 7px;
    margin-bottom: 20px;
  }

  .item-name{
    font-size: 14px;
  }

  .item-price{
    font-size: 14px;
  }

  .item-box{
    position: relative;
  }

  /* .item-mark{
    position: absolute;
    bottom: 0;
    z-index: 1;
  } */

  /* .item-image{
    position: absolute;
    top: 0;
  } */

  /* .item-mark{
    flex-direction: column;
  }

  .item-about{
    flex-direction: column-reverse;
  } */
}

/* ========================

category

==========================*/
.category{
  background-color: #F2F0ED;
  padding: 11px 20px;
  margin-bottom: 50px;
}

.category ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.category-title{
  margin-right: 20px;
  text-align: center;
}

.category-title h4{
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  padding-top: 2px;
  letter-spacing: 0.07em;
}

.category-title-sp{
  display: none;
}

.category-item{
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 4px 10px;
  margin: 0 7px 0 0;
  border-radius: 4px;
}

.category-item a{
  font-size: 13px;
}

@media screen and (max-width:768px){
  .category{
    padding: 14px 15px 20px;
    margin-bottom: 0;
  }

  .category-title{
    display: none;
  }

  .category-title-sp{
    display: block;
    text-align: center;
    letter-spacing: 0.07em;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
  }

  .category-item{
    margin: 0 7px 7px 0;
  }

  .category-item a{
    font-size: 14px;
    line-height: 20px;
  }
}

/* ========================

checkditem

==========================*/
#checkeditem{
  display: none;
}

#checkeditem.open{
  display: block;
}

.checkeditem{
  /* display: none; */
  border-top: 1px solid #A6A6A6;
  margin-bottom: 30px;
}

.checked-title{
  font-size: 18px;
  text-align: center;
  padding: 20px 0;
  letter-spacing: 0.07em;
  line-height: 26px;
}

.checked-item-box{
  padding: 0 33px;
}

.checked-item-box ul{
  display: flex;
  flex-wrap: wrap;
}

.checked-item-box ul li{
  padding: 0 3px;
}

.checked-image{
  width: 96px;
  height: 134px;
}

/* ========================

footer

==========================*/
footer{
  max-width: 1080px;
  margin: 0 auto;
}

.page-top {
  position: fixed;
  right: 50px;
  bottom:100px;
  z-index: 2;
  opacity: 0;
  transform: translateY(100px);
  transition: all .5s;
}

.page-top.UpMove{
  opacity: 1;
  transform: translateY(0);
  transition: all .5s;
}

.page-top a{
  display: block;
  background:#565555;
  border-radius: 3px;
  width: 50px;
  height: 50px;
}

.page-top a:after{
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 10px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  position: absolute;
  top: 42%;
  right: 7px;
  transform: rotate(-45deg);
}

.page-top a:hover{
  opacity: .7;
}

.footer-wrapper{
  max-width: 1080px;
  padding: 0 10px;
  margin-bottom: 71px;
  /* margin: 0 10px 71px 10px; */
  border-top: 1px solid #A6A6A6;
  position: relative;
}

.footer-box{
  display: flex;
  /* justify-content: space-between; */
  margin: 0 auto;
}

.footer-logo{
  padding-top: 20px;
  letter-spacing: 0.1em;
}

.footer-logo a:hover{
  text-decoration: none;
}

.footer-nav{
  width: 744px;
  margin-left: auto;
}

.footer-nav ul{
  display: flex;
  flex-wrap: wrap;
}

.footer-nav-top{
  padding: 20px 0 0;
}

.footer-nav-top ul{
  height: 44px;
}

.footer-nav-top ul li a {
  padding-right: 24px;
  font-size: 12px;
}

.footer-nav-bottom{
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
}

.footer-sns-nav ul li{
  height: 20px;
  padding-right: 40px;
}

.footer-sns-nav a{
  height: 20px;
  display: flex;
  align-items: center;
  font-size: 13px;
}

.footer-sns-nav a:hover{
  text-decoration: none;
}

.fa-instagram{
  font-size: 22px;
  margin-right: 14px;
}

.footer-copy span{
  display: inline-block;
  line-height: 20px;
}

.footer-pc{
  display: none;
}

@media screen and (max-width:768px){
  footer{
    max-width: 100%;
  }

  .page-top {
    right: 10px;
    bottom:50px;
  }

  .page-top a{
    width: 40px;
    height: 40px;
    opacity: .9;
  }

  .page-top a:after{
    width: 13px;
    height: 13px;
    top: 42%;
    right: 3px;
  }

  .footer-wrapper{
    margin-bottom: 0;
    padding: 0;
  }

  .footer-logo{
    display: none;
  }

  .footer-nav ul{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
  }

  .footer-nav-top{
    margin: 0 0 10px;
    padding: 30px 15px 0;
  }

  .footer-nav-top li{
    width: 50%;
    height: 37px;
  }

  .footer-nav-top ul li a {
    font-size: 13px;
    display: block;
    padding-right: 0px;
  }

  .cookie{
    display: none;
  }

  .footer-nav-bottom{
    flex-direction: column;
    padding-top: 13px;
    align-items: center;
  }

  .footer-sns-nav{
    width: 100%;
    padding: 0 8px 27px;
  }

  .footer-sns-nav ul{
    align-items: center;
    text-align: center;
  }

  .footer-sns-nav ul li{
    width: 50%;
    padding-right: 0;
  }

  .footer-sns-nav a{
    display: block;
    width: 100%;
    height: 20px;
    font-size: 12px;
  }

  .fa-instagram{
    font-size: 15px;
    margin-right: 7px;
  }

  .footer-pc{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-pc a{
    display: block;
    width: 50%;
    height: 28px;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    line-height: 28px;
    border: 1px solid #989898;
    border-radius: 3px;
  }

  .footer-copy span{
    display: block;
    font-size: 10px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}


/* ========================

ハンバーガー

==========================*/
@media screen and (max-width:768px){
  .hamburger-wrapper{
    display: block;
  }

  .hamburger {
    display: block;
    position: fixed;
    position: relative;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 100;
  }

  .hamburger.active{
    left: 300px;
    background-color: #404040;
  }

  .hamburger span{
    display: block;
    position: absolute;
    width: 25px;
    border-bottom: solid 2px #000;
    transition: 0.5s ease-in-out;
  }

  .hamburger.active span{
    border-bottom: solid 2px #fff;
  }

  .hamburger span:nth-child(1){
    top: 24px;
    left: 20px;
  }
  .hamburger span:nth-child(2){
    top: 32px;
    left: 20px;
  }
  .hamburger span:nth-child(3){
    top: 40px;
    left: 20px;
  }

  .hamburger.active span:nth-child(1){
    top: 30px;
    left: 18px;
    transform: translate(0, 0) rotate(-45deg);
  }

  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3){
    top: 30px;
    left: 18px;
    transform: translate(0, 0) rotate(45deg);
  }

  .hamburger-nav {
    position: fixed;
    background-color: #fff;
    text-align: left;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    padding: 13px 15px 80px 15px;
    transition: all 0.5s;
    overflow-y: auto;
    opacity: 0;
    z-index: 90;
  }

  .hamburger-nav.active {
    opacity: 100;
    left: 0;
  }

  .mask{
    display: none;
  }

  .mask.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    transition: all .5s;
    z-index: 80;
  }

  /* ------------------------------------ */

  .hamburger-nav ul li {
    display: block;
    line-height: 36px;
  }

  .h-member{
    padding-bottom: 20px;
  }

  .h-member a{
    display: block;
  }

  .h-member .guest{
    font-size: 16px;
  }

  .h-list{
    border-top: 1px solid #A6A6A6;
    padding: 20px 0;
  }

  .h-list-top a{
    display: block;
  }

  .ac-menu a{
    position: relative;
  }

  .ac-menu>a:before{
    content: "";
    width: 11px;
    height: 1px;
    background: #000;
    display: block;
    position: absolute;
    top: 50%;
    right: -20px;
  }

  .ac-menu>a:after{
    content: "";
    width: 1px;
    height: 11px;
    margin-top: -5px;
    background: #000;
    display: block;
    position: absolute;
    top: 50%;
    right: -15px;
  }

  .ac-menu>a.active:after{
    opacity: 0;
    transition: .1s;
  }

  .ac-menu-list{
    display: none;
    background: #F2F0ED;
    margin-bottom: 20px;
  }

  .ac-menu-list:after{
    content: "";
    display: block;
    clear: both;
  }

  .ac-menu-list>li{
    float: left;
    width: 50%;
  }

  .ac-menu-list li a{
    display: block;
    padding: 15px;
    font-size: 12px;
    line-height: 12px;
  }

  /* ------------------- */
  .h-sns{
    border-top: 1px solid #A6A6A6;
    padding: 25px 0;
  }

  .h-sns li a{
    font-size: 18px;
    vertical-align: middle;
  }

  .h-sns i{
    font-size: 25px;
    /* padding-bottom: 5px; */
    vertical-align: middle;
  }

  .h-footer{
    border-top: 1px solid #A6A6A6;
    padding-top: 20px;
    display: block;
  }

  .h-footer::after{
    clear: both;
    content: "";
    display: block;
  }

  .h-footer li{
    width: 50%;
    float: left;
  }

  .h-footer li a{
    display: block;
  }
}
